---
import astroLogo from '../assets/astro.svg';
import background from '../assets/background.svg';
---

<div id="container" class="w-full h-dvh flex flex-col items-center justify-center text-white">
	<h1>IT Build was Born.</h1>
	<h2>status : รวบรวมสมาชิก</h2>
	<h2>Made by Astro</h2>
</div>